[mysqld]
# ===== MEMORY SAFE =====
innodb_buffer_pool_size = 512M
innodb_buffer_pool_instances = 1

key_buffer_size = 32M

table_open_cache = 512
table_definition_cache = 512
thread_cache_size = 4

tmp_table_size = 128M
max_heap_table_size = 128M

sort_buffer_size = 256k
join_buffer_size = 128k
read_buffer_size = 128k
read_rnd_buffer_size = 256k

# ===== PACKET =====
max_allowed_packet = 128M

# ===== INNODB =====
innodb_log_file_size = 32M
innodb_log_buffer_size = 8M
innodb_flush_log_at_trx_commit = 2
innodb_file_per_table = 1
innodb_flush_method = O_DIRECT

innodb_io_capacity = 1000
innodb_io_capacity_max = 2000
innodb_write_io_threads = 4
innodb_read_io_threads = 4

# ===== CHARSET =====
character-set-server = utf8mb4
collation-server = utf8mb4_unicode_ci

# ===== CONNECTION =====
max_connections = 100
max_connect_errors = 100000
wait_timeout = 60
interactive_timeout = 60
connect_timeout = 10
skip-name-resolve = 1

# ===== LOG =====
log_error = /var/log/mysql/error.log
slow_query_log = 1
slow_query_log_file = /var/log/mysql/slow.log
long_query_time = 2
log_queries_not_using_indexes = OFF

# ===== PERFORMANCE =====
performance_schema = OFF
